body {
  background-image: url(https://images.unsplash.com/photo-1530569673472-307dc017a82d?q=80&w=1976&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

nav {
  background-image: url(https://images.unsplash.com/photo-1525784451128-d1488f52f03e?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bW91bnRhaW4lMjByYW5nZXxlbnwwfHwwfHx8MA%3D%3D);
  background-size: cover;
  background-position: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 35px;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #336caa;
  opacity: 0.5;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}

.intro {
  margin-bottom: 60px;
  height: auto;
  padding: 20px 20px 35px 20px;
}

.pages {
  margin-left: auto;
}

a {
  text-decoration: none;
  color: #ffffffea;
}

.dropbtn {
  background-color: transparent;
  color: #ffffffea;
  font-size: 22px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2889c5b8;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: #0a2a52;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #aec4dc;
}

.dropdown:hover .dropdown-content {
  display: block;
}

h1 {
  font-family: mynerve;
  text-align: center;
  color: #0a2a52;
  opacity: 0.7;
}

footer {
  margin-top: 60px;
  padding: 25px;
  text-align: center;
  font-size: 1rem;
  color: #53585caf;
}

h2 {
  font-family: pacifico;
  font-size: 3rem;
  color: #0a2a52;
  text-align: center;
}

h3,
p,
li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #0a2a52;
}

pre code {
  background-color: #c3d3de;
  border: 2px solid #2560b3;
  display: block;
  padding: 20px;
}

main {
  padding: 20px;
}
article {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.concept {
  margin-top: 50px;
}

.tech-posts {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  color: #0a2a52;
}

.post {
  border: #0a2a52;
  background-color: #aec4dc;
  padding: 15px;
  border-style: solid;
}
